numpy==1.19.5
pandas==1.1.5
scipy==1.5.4
scikit-learn==0.24.2
scikit-image==0.17.2
pillow==8.2.0
matplotlib==3.3.4
seaborn==0.11.1
jupyter
notebook
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
